@{
    ViewData["Title"] = "Add Product";
}

<head>
    <style>
        body {
            background-color: skyblue;
            text-align: center;
        }

        h1 {
            margin-bottom: 10px;
            font-family: Algerian, sans-serif;
            font-size: 60px;
            color: mistyrose;
        }

        p {
            margin-bottom: 5px;
            margin-top: 5px;
            font-family: Constantia, sans-serif;
        }

        button {
            margin-bottom: 20px;
            margin-top: 15px;
        }

        .selectImage {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <h1>Add Product</h1>

    <form asp-action="AddProduct" method="post">
        <p>Product Name:</p>
        <input type="text" name="ProductName" />
        <p>Product Price:</p>
        <input type="number" name="ProductPrice" />
        <p>Product Category:</p>
        <input type="text" name="ProductCategory" />
        <p></p>
        <button type="submit">Add Product</button>
    </form>
</body>