@{
    ViewData["Title"] = "Create Profile";
}

<head>
    <style>
        body {
            background-color: skyblue;
            text-align: center;
        }

        h1 {
            margin-bottom: 10px;
            font-family: Algerian, sans-serif;
            font-size: 60px;
            color: mistyrose;
        }

        p {
            margin-bottom: 5px;
            margin-top: 5px;
            font-family: Constantia, sans-serif;
        }

        button {
            margin-bottom: 20px;
            margin-top: 15px;
        }

        .selectImage {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <h1>Create Customer Profile</h1>

    <form asp-action="AddCustomerProfile" method="post">
        <p>First Name:</p>
        <input type="text" name="FirstName" />
        <p>Last Name:</p>
        <input type="text" name="LastName" />
        <p>Email:</p>
        <input type="email" name="Email" />
        <p>Phone Number:</p>
        <input type="text" name="PhoneNumber" />
        <p></p>
        <button type="submit">Add Profile</button>
    </form>
</body>
