@{
    ViewData["Title"] = "Home";
}

<head>
    <style>
        body{
            background-color: skyblue;
            text-align: center;
        }
        h1{
            text-align: center;
            font-family:Algerian, sans-serif;
            font-size: 60px;
            color:mistyrose;
        }
        p {
            font-size:25px;
            font-family:Constantia, sans-serif;
        }   
        button {
            margin-bottom: 20px;
            margin-top: 15px;
        }
        .selectImage {
            margin-top: 10px;
        }
        ul{
            list-style-position: inside; 
            padding-left: 0; 
            display: inline-block; 
            text-align: left; 
        }
    </style>
</head>

<h1>Home</h1>

<body>
    <p>Welcome to ABC Retail!</p>
    <p>Feel free to use any of the following of the following functionality:</p>
    <ul>
        <li><a href="/Customer/CustomerProfile">Create a Customer Profile</a></li>
        <li><a href="/Home/Product">Add a Product </a></li>
        <li><a href="/Store/Store">Store Images or Files</a></li>
        <li><a href="/Processing/Processing">Process an Order and Update Inventory</a></li>
    </ul>
</body>

